VIBER_CUSTOMER_API_KEY=8224594418:AAHHtXKXPlV45bg3qfZip0Z-BStC-JhZdQA
TELEGRAM_DRIVER_API_KEY=8499087456:AAHEQluAEna6ueYUtYN0WYxfCyB-k1lErsM
TELEGRAM_CUSTOMER_API_KEY=8483130160:AAEks7AWE761Rdr68Q9w-1FdJ1eE0eGTFjo
TAXI_BOT_API=http://127.0.0.1:6010
